<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/admin-user.css">
    <title>Admin Users</title>
</head>
<body>
    <h1>Registered Users</h1>
    <ul>
        <% users.forEach(user => { %>
            <li><%= user.username %></li>
        <% }); %>
    </ul>
</body>
</html>
