<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery - Home</title>
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="shortcut icon" href="/ico/photoVoyager-ico-generate.ico" type="image/x-icon">
    <!-- Include Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>    
</head>
<body>
    <div class="container">
        <h1 class="title">Photo Gallery</h1>

        <!-- Menu -->
        <div class="menu-toggle" id="menuToggle">
            <!-- Icon and menu content -->
            <svg xmlns="svgs/" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" id="menuIcon">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
            <div class="dropdown-content" id="dropdownContent">
                <span class="dropdown-header">Pages</span>
                <a href="/">Home</a>
                <% if (isLoggedIn) { %>
                    <% if (isAdmin) { %>
                        <a href="/admin">Admin Panel</a>
                    <% } %>
                    <a href="/logout">Logout</a>
                <% } else { %>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                <% } %>
                <!-- New category: Information -->
                <span class="dropdown-divider"></span>
                <span class="dropdown-header">Information</span>
                <a href="https://github.com/api-tsukasa/PhotoVoyage">Source Code</a>
                <a href="https://github.com/PhotoVoyage">Github</a>
                <a href="https://github.com/api-tsukasa/PhotoVoyage/issues/new/choose">Help</a>
            </div>
        </div>        
    
        <div class="users-online" id="users-online-container">
            <a href="/active-users"><p>Active Users Count: <span class="emoji-wrapper"><%= activeUsersCount %> <img src="https://cdn3.emoji.gg/emojis/7586-tts-star-online.png" alt="Online Icon" class="emoji-size"></span></p></a>
        </div>        

        <!-- Image upload form -->
        <div class="upload-button">
            <form action="/upload" method="post" enctype="multipart/form-data" id="uploadForm">
                <div class="control">
                    <button type="button" class="button is-primary" id="uploadBtn">Upload Photo</button>
                    <input type="hidden" name="photoName" id="photoName">
                    <input class="file-input" type="file" name="photo" accept="image/*" style="display: none;">
                </div>
            </form>
        </div>
        <div class="uploaded-img-container" id="gallery"></div>
    </div>

    <!-- Modal window for preview -->
    <div id="previewModal" class="modal">
        <span class="close">&times;</span>
        <div class="modal-content">
            <img id="previewImage" class="modal-img">
        </div>
        <div class="zoom-controls">
            <button id="zoomIn">+</button>
            <button id="zoomOut">-</button>
        </div>
        <div class="current-image">
            Image <span id="currentImageNumber"></span> of <span id="totalImages"></span>
        </div>
    </div>
    <script src="/public/js/home-script.js"></script>  
</body>
</html>
