<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery - Register</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/Components/buttons.css">
    <link rel="shortcut icon" href="https://avatars.githubusercontent.com/u/164266627?v=4" type="image/x-icon">
    <style>
        body {
            overflow: hidden;
        }

        .bg-pattern {
            position: absolute;
            inset: 0;
            z-index: -10;
            height: 100%;
            width: 100%;
            background: linear-gradient(to right, #f0f0f0 1px, transparent 1px), linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
            background-size: 6rem 4rem;
        }
        .bg-radial {
            position: absolute;
            bottom: -50px;
            left: 0;
            right: 0;
            top: 0;
            background: radial-gradient(circle 700px at 50% 400px, #C9EBFF, transparent);
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            transition: border-color 0.3s;
        }
    </style>
</head>

<body class="font-sans leading-normal tracking-normal relative">
    <!-- Fondo -->
    <div class="bg-pattern">
        <div class="bg-radial"></div>
    </div>
    <section class="min-h-screen flex flex-col justify-center">
        <div class="container mx-auto">
            <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden shadow-md">
                <h2 class="text-3xl text-center font-semibold text-gray-800 p-6">Register</h2>
                <% if (message) { %>
                <p class="notification is-info"><%= message %></p>
                <% } %>
                <form action="/register" method="POST" class="p-6">
                    <div class="mb-4">
                        <label for="username" class="block text-gray-700">Username:</label>
                        <input type="text" id="username" name="username" required
                            class="form-input mt-1 block w-full rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
                    </div>
                    <div class="mb-4">
                        <label for="email" class="block text-gray-700">Email:</label>
                        <input type="email" id="email" name="email" required
                            class="form-input mt-1 block w-full rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
                    </div>
                    <div class="mb-4">
                        <label for="password" class="block text-gray-700">Password:</label>
                        <input type="password" id="password" name="password" required
                            class="form-input mt-1 block w-full rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
                    </div>
                    <div class="mb-4">
                        <label for="confirm_password" class="block text-gray-700">Confirm Password:</label>
                        <input type="password" id="confirm_password" name="confirm_password" required
                            class="form-input mt-1 block w-full rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
                    </div>
                    <div class="mb-4">
                        <label for="captcha" class="block text-gray-700">Solve the following:</label>
                        <p><%= captcha.question %></p>
                        <input type="hidden" name="answer" value="<%= captcha.answer %>">
                        <input type="text" id="captcha" name="captcha" required
                            class="form-input mt-1 block w-full rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
                    </div>
                    <div class="mb-6">
                        <button type="submit"
                            class="mt-8 bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-4 rounded w-full transition duration-300 transform hover:scale-105">
                            Register
                        </button>
                    </div>
                </form>
            </div>
            <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden shadow-md p-6 mt-6">
                <h3 class="text-xl font-semibold text-gray-800 mb-4">Security Tips:</h3>
                <p id="random-tip" class="text-center text-gray-600"></p>
            </div>
        </div>
    </section>

    <script>
        var securityTips = [
            "Use a unique password for your account",
            "Do not pass your account information to anyone.",
            "Do not use a very common password",
            "Update your password regularly.",
            "Beware of phishing attempts and never click on suspicious links."
        ];

        function getRandomTip() {
            var randomIndex = Math.floor(Math.random() * securityTips.length);
            return securityTips[randomIndex];
        }

        document.addEventListener("DOMContentLoaded", function () {
            var tipElement = document.getElementById("random-tip");
            tipElement.textContent = getRandomTip();

            var passwordInput = document.getElementById("password");
            var strengthBar = document.getElementById("password-strength-bar");
            var strengthText = document.getElementById("password-strength-text");
            var togglePasswordButton = document.querySelector('.toggle-password');

            passwordInput.addEventListener("input", function () {
                var password = passwordInput.value;
                var strength = calculatePasswordStrength(password);
                var widthPercentage = (strength / 4) * 100;
                strengthBar.style.width = widthPercentage + "%";
                strengthBar.className = "h-full rounded transition-all duration-300";
                strengthText.textContent = "Password Strength: " + strength + "/4";
            });

            togglePasswordButton.addEventListener('click', function () {
                var type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);
                this.textContent = type === 'password' ? 'Show Password' : 'Hide Password';
            });
        });

        function calculatePasswordStrength(password) {
            // Evaluate password strength here, you can use any algorithm or library for this purpose
            // For simplicity, I'm just checking the length
            if (password.length < 6) {
                return 1;
            } else if (password.length < 10) {
                return 2;
            } else if (password.match(/[a-zA-Z]/) && password.match(/[0-9]/) && password.match(/[^a-zA-Z0-9]/)) {
                return 4;
            } else if (password.match(/[a-zA-Z]/) && password.match(/[0-9]/)) {
                return 3;
            } else {
                return 2;
            }
        }
    </script>
</body>

</html>
