<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhotoVoyage - Tools</title>
    <link rel="stylesheet" href="/public/tools.css">
</head>

<body>
    <header>
        <h1>Welcome to the Tools Platform</h1>
        <h4>These tools can be community or official</h4>
        <nav>
            <a href="/">Home</a>
            <a href="/admin">Admin Panel</a>
            <a href="/admin-users">Users</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <div class="container">
        <h2>Tools</h2>
        <div class="tools">
            <div class="tool">
                <h3>PhotoVoyage-languages</h3>
                <p>Type: App<br>Property: Official and community</p>
                <a href="#">Go to Tool</a>
            </div>
            <div class="tool">
                <h3>Tool 2</h3>
                <p>Description of Tool 2.</p>
                <a href="#">Go to Tool</a>
            </div>
            <div class="tool">
                <h3>Tool 3</h3>
                <p>Description of Tool 3.</p>
                <a href="#">Go to Tool</a>
            </div>
            <div class="tool">
                <h3>Tool 4</h3>
                <p>Description of Tool 4.</p>
                <a href="#">Go to Tool</a>
            </div>
        </div>
    </div>
</body>

</html>
