<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhotoVoyage - Tools</title>
    <link rel="stylesheet" href="/public/tools.css">
</head>

<body>
    <header>
        <h1>Welcome to the Tools Platform</h1>
        <h4>These tools can be community or official</h4>
        <nav>
            <a href="/">Home</a>
            <a href="/admin">Admin Panel</a>
            <a href="/admin-users">Users</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <div class="container">
        <h2>Tools</h2>
        <div class="tools">
            <div class="tool">
                <h3>PhotoVoyage-languages</h3>
                <p>It is an app developed by the sstudios team with the help of some members
                     of photoVoyage that allows you to download official and community translations</p>
                <a href="https://github.com/PhotoVoyage/PhotoVoyage-languages">Repository</a>
                <a href="/404">Download</a>
            </div>
            <div class="tool">
                <h3>PhotoVoyage-templates</h3>
                <p>This tool is not an app, it's a repository where you can create and upload your templates
                    for the community</p>
                <a href="https://github.com/PhotoVoyage/PhotoVoyage-templates">Repository</a>
                <a href="https://github.com/PhotoVoyage/PhotoVoyage-templates/tree/main/Home-Templates">Download</a>
            </div>
            <div class="tool">
                <h3>Coming soon</h3>
                <p>This tool is under development please wait until it is released.</p>
                <a href="/404">Soon</a>
            </div>
            <div class="tool">
                <h3>Coming soon</h3>
                <p>This tool is under development please wait until it is released.</p>
                <a href="/404">Soon</a>
            </div>
        </div>
    </div>
</body>

</html>
