<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/user-details.css">
    <title>User Details</title>
</head>
<body>
    <div class="user-details">
        <h1>User Details</h1>
        <div class="details-container">
            <p><strong>Username:</strong> <span id="username"><%= user.username %></span></p>
            <p><strong>Account ID:</strong> <%= userId %></p>
            <p><strong>Account Created At:</strong> <%= user.created_at %></p>
            <!-- Add more user details here as needed -->
        </div>
        <button class="btn-back" onclick="goToAdminPanel()">Back to Admin Panel</button>
    </div>

    <script>
        function goToAdminPanel() {
            window.location.href = "/admin-users";
        }
    </script>
</body>
</html>
