// PhotoVoyage
// Code developed by the photoVoyage team and collaborators
// https://github.com/api-tsukasa/PhotoVoyage/graphs/contributors

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/user-details.css">
    <title>User Details</title>
</head>
<body>
    <div class="user-details">
        <h1>User Details</h1>
        <div class="details-container">
            <div class="detail-item">
                <span class="detail-label">Username:</span>
                <span class="detail-value"><%= user.username %></span>
            </div>
            <div class="detail-item">
                <span class="detail-label">Email:</span>
                <span class="detail-value"><%= user.email %></span>
            </div>
            <div class="detail-item">
                <span class="detail-label">Account ID:</span>
                <span class="detail-value"><%= userId %></span>
            </div>
            <div class="detail-item">
                <span class="detail-label">Account Created At:</span>
                <span class="detail-value"><%= user.created_at %></span>
            </div>          
            <!-- Add more user details here as needed -->
        </div>
        <button class="btn-back" onclick="goToAdminPanel()">Back to Admin Panel</button>
    </div>

    <script>
        function goToAdminPanel() {
            window.location.href = "/admin-users";
        }
    </script>
</body>
</html>
