/* admin.css */

/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    line-height: 1.6;
}

/* Container Styles */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px;
}

/* Admin Grid */
.admin-grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
}

/* Heading Styles */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

/* List Styles */
ul {
    padding-left: 0;
}

li {
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

li p {
    color: #777;
    font-size: 1rem;
}

/* Image Styles */
img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
form {
    text-align: center;
    margin-bottom: 40px;
}

/* Button Styles */
button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #ff3333;
    transform: scale(1.1);
}

/* Back Link Styles */
.back-link {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border: 2px solid #333;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.back-link:hover {
    background-color: #333;
    color: #f9f9f9;
    transform: translateY(-3px);
}

/* Menu Toggle */
.menu-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    cursor: pointer;
}

/* Dropdown Styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    animation: slideDown 0.5s ease forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.menu-toggle.active .dropdown-content {
    display: block;
}
