body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    text-align: center;
}

h1 {
    font-size: 100px;
    color: #333;
    margin: 0;
}

p {
    font-size: 24px;
    color: #666;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

#error-text {
    overflow: hidden; /* Para ocultar el texto que se sale */
    white-space: nowrap; /* Para que el texto no se divida en varias líneas */
    animation: typing 3s steps(40, end); /* Animación de escribir */
    border-right: 2px solid #333; /* Efecto de cursor */
    padding-right: 5px; /* Espacio para el cursor */
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

/* Tooltip */
.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#error-code:hover + .tooltip {
    display: block;
}