body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 360px;
    margin: 80px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: #555;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #00d1b2;
}

button {
    padding: 12px 0;
    background-color: #00d1b2;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Agregamos una sombra suave */
}

button:hover {
    background-color: #00c1a7; /* Color ligeramente más oscuro en el hover */
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Aumentamos la intensidad de la sombra al hacer hover */
}

.message {
    text-align: center;
    color: #ff7c70;
    margin-top: 16px;
    animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* Animation */
    animation: slideDown 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

/* Define the animation */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /* Animation for Links */
    transition: background-color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.menu-toggle.active .dropdown-content {
    display: block;
    /* Animation */
    animation: fadeIn 0.3s ease forwards;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.security-tip {
    color: #555;
    font-size: 12px;
}

.security-tips {
    margin-top: 20px;
}

.security-tips h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.security-tips ul {
    list-style-type: none;
    padding: 0;
}

.security-tips ul li {
    margin-bottom: 5px;
}
