body {
    font-family: Arial, sans-serif; /* Set default font */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-color: #ffffff; /* Set background color */
}

/* Container styles */
.container {
    max-width: 1000px; /* Set maximum width */
    margin: 20px auto; /* Center the container */
    padding: 0 20px; /* Add padding */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
}

/* Heading styles */
h1 {
    margin-bottom: 20px; /* Add space below heading */
}

/* Toggle menu styles */
.menu-toggle {
    position: absolute; /* Position the menu toggle */
    top: 0; /* Set top position */
    left: 0; /* Set left position */
    margin: 10px; /* Add margin */
    z-index: 1; /* Set stacking order */
    cursor: pointer; /* Change cursor to pointer */
}

.dropdown-header {
    padding: 10px 20px; /* Add padding */
    font-weight: bold; /* Set font weight */
    color: #333; /* Set text color */
    text-transform: uppercase; /* Transform text to uppercase */
}

.dropdown-divider {
    border-bottom: 1px solid #ccc; /* Add border bottom */
    margin: 5px 0; /* Add margin */
}

/* Dropdown menu styles */
.dropdown-content {
    display: none; /* Hide the dropdown content by default */
    position: absolute; /* Position the dropdown */
    background-color: #fff; /* Set background color */
    min-width: 160px; /* Set minimum width */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Add shadow */
    padding: 10px 0; /* Add padding */
    z-index: 1; /* Set stacking order */
    top: 30px; /* Set top position */
    left: 0; /* Set left position */
    border-radius: 5px; /* Add border radius */
    animation: slideDown 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

/* Define the animation */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Dropdown item styles */
.dropdown-content a {
    display: block; /* Display as block element */
    padding: 10px 20px; /* Add padding */
    color: #333; /* Set text color */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s; /* Add transition effect */
    transition: background-color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Hover effect for dropdown items */
.dropdown-content a:hover {
    background-color: #f1f1f1; /* Change background color on hover */
}

/* Show dropdown content when menu toggle is active */
.menu-toggle.active .dropdown-content {
    display: block; /* Display the dropdown content */
    opacity: 0; /* Start with opacity 0 */
    transform: translateY(-20px) scale(0.9); /* Start with translateY -20px and slightly smaller */
    animation: fadeInSlideDown 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, scaleIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes fadeInSlideDown {
    from {
        opacity: 0;
        transform: translateY(-20px) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.95);
    }
    to {
        transform: scale(1);
    }
}

/* Container for uploaded images */
.uploaded-img-container {
    margin-top: 5px; /* Add space above container */
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: center; /* Center content horizontally */
}

/* online users */
.users-online {
    position: absolute;
    top: 0px;
    right: 0;
    margin: 10px;
    z-index: 1;
    cursor: pointer;
}

#users-online-container {
    transition: transform 0.3s ease;
}

#users-online-container:hover {
    transform: scale(1.1);
}

.emoji-size {
    width: 1em;
    height: 1em;
}

.emoji-wrapper {
    display: inline-block;
}

/* Styles for uploaded images */
.uploaded-img {
    max-width: 500px; /* Set maximum width */
    height: 200px; /* Set height to maintain aspect ratio */
    border-radius: 5px; /* Add border radius */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add shadow */
    margin: 0 auto; /* Center the image */
}

/* Gallery styles */
.gallery {
    display: grid; /* Use grid for layout */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Set column layout */
    grid-auto-rows: minmax(200px, auto); /* Set row height */
    grid-gap: 20px; /* Set gap between grid items */
}

/* Image styles */
.gallery img {
    width: 100%; /* Set image width to fill container */
    height: auto; /* Set height to maintain aspect ratio */
    border-radius: 5px; /* Add border radius */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add shadow */
    transition: transform 0.3s, box-shadow 0.3s; /* Add transform and shadow transition */
    cursor: pointer; /* Change cursor to pointer */
}

/* Smooth zoom effect for images on hover */
.gallery img:hover {
    transform: scale(1.05); /* Scale image on hover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}


/* Modal styles */
.modal {
    display: none; /* Hide the modal window by default */
    position: fixed; /* Fixed position to keep it in place */
    z-index: 1; /* Place modal window on top of other content */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Allow vertical scrolling if needed */
    background-color: rgb(0,0,0); /* Black background color */
    background-color: rgba(0,0,0,0.9); /* Black background color with transparency */
    transition: opacity 0.3s; /* Add a smooth transition */
}

/* Modal content styles */
.modal-content {
    margin: auto; /* Center the content vertically and horizontally */
    display: block;
    max-width: 90%; /* Maximum width of the content */
    max-height: 90%; /* Maximum height of the content */
    animation: fadeInBounce 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Animation to show preview */
@keyframes fadeInBounce {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    70% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Image inside the modal */
.modal-img {
    width: 100%; /* Set the image width to 100% of the container */
    height: auto; /* Auto height to maintain aspect ratio */
    display: block;
    margin: auto; /* Center the image */
    max-width: 100%; /* Maximum width of the image */
    max-height: 100%; /* Maximum height of the image */
}

/* Close button styles */
.close {
    position: absolute; /* Absolute position */
    top: 15px; /* Distance from the top */
    right: 35px; /* Distance from the right */
    font-size: 30px; /* Font size */
    font-weight: bold; /* Font weight */
    color: #f1f1f1; /* Text color */
    transition: 0.3s; /* Smooth transition */
}

/* Hover effect for close button */
.close:hover,
.close:focus {
    color: #bbb; /* Change text color on hover or focus */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Change cursor on hover */
}

/* Styles for zoom controls */
.zoom-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.zoom-controls button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
}

/* Styles for the display of the current image */
.current-image {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 14px;
    z-index: 2;
}

/* Custom CSS */
.image-container {
    margin: 5px; /* Add margin */
    position: relative; /* Set position */
    cursor: pointer; /* Change cursor to pointer */
    max-width: 350px; /* Set maximum width */
    max-height: 300px; /* Set height */
    border-radius: 10px; /* Add border radius */
    transition: transform 0.3s ease; /* Add transform transition */
    text-align: center;
}

.image-container:hover {
    transform: translateY(-5px); /* Translate on hover */
}

.image-container img {
    width: auto; /* Set width to auto */
    height: 100%; /* Set height to fill container */
    border-radius: 10px 10px 0 0; /* Add border radius */
}
