on: push
jobs:
    build-node:
        runs-on: ubuntu-lastest
        container: node:16
        steps:
            - run: node --version
            - run: npm --version
            - uses: actions/checkout@v3
            - run: npm install
            - run: node app.js
